.DS_Store

__pycache__/
*.pyc
*.pyo
*.so
*.egg-info
*.egg
*.egg-info/
build/
dist/
.coverage
.coverage.*
.tox/
.cache/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
.nox/
.vscode/
.env
.env.test
.env.dev
.env.prod
