[submodule "docs/tutorial"]
	path = docs/tutorial
	url = https://github.com/quanttide/quanttide-tutorial-of-data-engineering.git
[submodule "docs/handbook"]
	path = docs/handbook
	url = https://github.com/quanttide/quanttide-handbook-of-data-engineering.git
[submodule "docs/specification"]
	path = docs/specification
	url = https://github.com/quanttide/quanttide-specification-of-data-engineering.git
[submodule "src/qtcloud-data"]
	path = apps/qtcloud-data
	url = https://github.com/quanttide/qtcloud-data.git
[submodule "docs/report"]
	path = data/report
	url = https://github.com/quanttide/quanttide-report-of-data-engineering.git
[submodule "docs/gallery"]
	path = docs/gallery
	url = https://github.com/quanttide/quanttide-gallery-of-data-engineering.git
[submodule "docs/context"]
	path = data/context
	url = https://github.com/quanttide/quanttide-context-of-data-engineering.git
[submodule "docs/archive"]
	path = data/archive
	url = https://github.com/quanttide/quanttide-archive-of-data-engineering.git
[submodule "docs/essay"]
	path = docs/essay
	url = https://github.com/quanttide/quanttide-essay-of-data-engineering.git
[submodule "data/intention"]
	path = data/intention
	url = https://github.com/quanttide/quanttide-intention-of-data-engineering.git
[submodule "data/library"]
	path = data/library
	url = https://github.com/quanttide/quanttide-library-of-data-engineering.git
[submodule "data/journal"]
	path = data/journal
	url = https://github.com/quanttide/quanttide-journal-of-data-engineering.git
[submodule "examples/default"]
	path = examples/default
	url = https://github.com/quanttide/quanttide-laboratory-of-data-engineering.git
[submodule "packages/quanttide-data-toolkit"]
	path = packages/quanttide-data-toolkit
	url = https://github.com/quanttide/quanttide-data-toolkit.git
[submodule "packages/quanttide-toolkit"]
	path = packages/quanttide-toolkit
	url = https://github.com/quanttide/quanttide-toolkit.git
[submodule "packages/quanttide-agent-toolkit"]
	path = packages/quanttide-agent-toolkit
	url = https://github.com/quanttide/quanttide-agent-toolkit.git
[submodule "examples/company"]
	path = examples/company
	url = https://github.com/quanttide/quanttide-laboratory-of-business-entity.git
[submodule "data/profile"]
	path = data/profile
	url = https://github.com/quanttide/quanttide-profile-of-data-engineering.git
[submodule "data/insight"]
	path = data/insight
	url = https://github.com/quanttide/quanttide-insight-of-data-engineering.git
