[submodule "tutorial"]
	path = docs/tutorial
	url = https://github.com/quanttide/quanttide-tutorial-of-data-engineering.git
[submodule "handbook"]
	path = docs/handbook
	url = https://github.com/quanttide/quanttide-handbook-of-data-engineering.git
[submodule "specification"]
	path = docs/specification
	url = https://github.com/quanttide/quanttide-specification-of-data-engineering.git
[submodule "qtcloud-data"]
	path = src/qtcloud-data
	url = https://github.com/quanttide/qtcloud-data.git
[submodule "docs/tutorial"]
	path = docs/tutorial
	url = https://github.com/quanttide/quanttide-tutorial-of-data-engineering.git
[submodule "src/qtcloud-data"]
	path = src/qtcloud-data
	url = https://github.com/quanttide/qtcloud-data.git
[submodule "docs/specification"]
	path = docs/specification
	url = https://github.com/quanttide/quanttide-specification-of-data-engineering.git
[submodule "docs/handbook"]
	path = docs/handbook
	url = https://github.com/quanttide/quanttide-handbook-of-data-engineering.git
[submodule "docs/report"]
	path = docs/report
	url = https://github.com/quanttide/quanttide-report-of-data-engineering.git
[submodule "docs/alternative"]
	path = docs/alternative
	url = https://github.com/quanttide/quanttide-alternative-of-data-engineering.git
[submodule "examples/quanttide-example-of-data-engineering"]
	path = examples/quanttide-example-of-data-engineering
	url = https://github.com/quanttide/quanttide-example-of-data-engineering.git
[submodule "examples/quanttide-example-of-big-data"]
	path = examples/quanttide-example-of-big-data
	url = https://github.com/quanttide/quanttide-example-of-big-data.git
[submodule "src/toolkit"]
	path = src/toolkit
	url = https://github.com/quanttide/quanttide-data-toolkit.git
